
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,400;0,600;1,600&display=swap');
*{
    padding: 0;
    margin: 0;
}
.container{
    display: flex;
    flex-direction: column;
    width: 1440px;
    overflow: hidden;

}
.icon{
    text-align: center;
    margin-top: 0;
   position: relative;
    top: 0;
    left: 0;
  }
.image1{
    position: relative;
    top: -22px;
    left: 96px;
    /*margin-bottom: 56px;*/
    width: 1439px;
    opacity: 0.25;
}  
  .image2 {
    position: absolute;
    top: 130px;
    left: 658px;
  }
  .image3{
    display: none;
  }
.glory h1{
    font-family: 'Bai Jamjuree SemiBold';
    font-size: 46px;
    font-weight: 600;
    line-height: 57.5px;
    letter-spacing: -0.75px;
    text-align: center;
    margin-top: 56px;
    color: #4C545C;
    margin-bottom: 32px;

}3
img{
    align-items: center;
}
.glory p{
    font-family: 'Bai Jamjuree SemiBold';
    color: #9EABB2;
    font-size: 20px;
    text-align: center;
    margin-bottom: 32px;
}

.picone{
position:absolute;
top: 10px;
left: 10px;
z-index: 1;
}
.pictwo{
position:absolute;
top: 25px;
left: 25px;
z-index: 2;
}
.buttons{
    text-align: center;
    border: none;
    margin-top: 48px;
    margin: auto;
    margin-bottom: 100px;
    
}
.buttons .one{
    background:#26BBA4;
    width: 227px;
    height: 56px;
    color: #fff;
    border-radius: 28px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    border: none;
}
.buttons .two{
    background: #6174FF;
    width: 227px;
    height: 56px;
    color: #fff;
    border-radius: 28px;
    text-align: center;
    font-size: 18px;
   font-weight: 600;
    border: none;
    margin-left: 20px;

}

.buttons .finish{
    text-align: center;
    border: none;
    margin-top: 28px;
    margin-left: 204px;
    margin-right: 485px;
}
.middle h1{
text-align: center;
color: #4C545C;
margin-bottom: 19px;
}
.middle p{
    text-align:center;
    font-family: 'Bai Jamjuree';
    font-weight: 400;
    font-size: 18px;
    line-height: 40px;
    letter-spacing: 0.14px;
    color: #9EABB2;
    margin-bottom: 69px;
    width: 1330px;
    padding-bottom: 90px;
}
.gone{
    margin-bottom: 114px ;
}
.gone p{
    width: 730px;
    margin-left: 330px;
    line-height: 30px;
}
.third{
    display: flex;

}

.third .image{
    margin-left: -62px;
}
.fourth{
    margin-left: 82px;
    margin-top: 76px;
}
.fourth .one{
    margin-top: -50px;
}
.fourth .two{
    margin-top: -198px;
}
.fourth .three{
    margin-top: -198px;
}
.fourth h1{
    font-family: 'Bai Jamjuree';
    font-weight:600;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -0.39;
    color: #4C545C;
    margin-bottom: 8px;
}
.fourth p{
color: #9EABB2;
font-size: 16px;
font-weight: 400;
line-height: 40px;
letter-spacing: 0.12px;
margin-bottom: 56px;

font-family: 'Bai Jamjuree';
width: 350px;
margin-bottom: 146px;
}
.fifth{
    text-align: center;
    margin-top: 154px;
    width: 730px;
    margin-left: 341px;
    margin-right: 369px;
}
.fifth h1{
    font-family: 'Bai Jamjuree SemiBold';
    font-weight: 600;
    font-size: 36px;
    line-height: 45px;
    color: #4C545C;
    margin-bottom: 19px;
}
.fifth p{
    font-family: 'Bai Jamjuree';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #9EABB2;
    margin-bottom: 114px;
}
.sixth img{
        margin-left: 314px;
        width: 812px;
        
        margin-bottom: 161px;
}
.seventh{
    width: 730px;
    margin-left: 354px;
    text-align: center;
    margin-bottom: 57px;
}
.seventh h1{
    font-family: 'Bai Jamjuree';
    font-weight: 600;
    font-size: 36px;
    line-height: 45px;
    padding-bottom: 19px;
    color: #4C545C;
    
}
.seventh p{
    font-family: 'Bai Jamjuree';
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #9EABB2;
    margin-bottom: 72px;
    letter-spacing: 0.12px;
    margin-right: 30px;
}
.eigth{
    margin-left: 166px;
    display: flex;
    margin-bottom: 174px;
}
.eigth .first{
    width: 350px;
    margin-left: 30px;
    margin-right: 20px;
}
.eigth .first img{
    margin-left: 50px;
    margin-bottom: 40px;
}
.eigth .first h1{
    margin-bottom: 16px;
    font-family: 'Bai Jamjuree';
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #4C545C;

}
.eigth .first p{
    font-family: 'Bai Jamjuree';
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color:#9EABB2;  
}
.ninth{
    width: 1110px;
    padding-left: 150px;
    display: flex;
    margin-bottom: 122px;
    
}
.ninth img{
    margin-right: 94.4px;

}
.tenth{
    width: 730px;
    margin-left: 335px;
    margin-right: 335px;
}
.tenth h1{
    font-family: 'Bai Jamjuree';
    font-weight: 600;
    font-size: 36px;
    line-height: 45px;
    color: #4C545C;
    margin-bottom: 19px;
}
.tenth p{
    font-family: 'Bai Jamjuree';
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.14px;
    color: #9EABB2;
    margin-bottom: 48px;
}
.eleventh{
    background:#9EABB2;
    opacity: 0.1;
    margin-top: 150px;
    

}
.eleventh  .whole{
    display: block;
}
.eleventh .one{
    margin-top: 48px;
    display: flex;
    margin-bottom: 61px;
}
.eleventh .one img{
    margin-left: 165px;
    margin-right: 135px;
    margin-top: 39px;
}
.eleventh .two{
    display: flex;
    margin-top: 39px;
}
.eleventh .two h1{
    font-family: 'Bai Jamjuree';
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    margin-top: 39px;
    color: #4C545C;
    margin-left: 30px;
    margin-bottom: 24px;
    letter-spacing: 0.135px;

}
.eleventh .three{
    display: flex;
    margin-left: 355px;
    margin-bottom: 19px ;
}
.eleventh .three h1{
font-family: 'Bai Jamjuree';
font-weight: 400;
font-size: 18px;
font-style: normal;
line-height: 30px;
color: #4C545C;
margin-bottom: 19px;
margin-left: 135px;
width: 160px;
letter-spacing: 0.135px;
}
.eleventh .three {
    display: flex;
    margin-left: 355px;
    margin-bottom: 19px;
}

.eleventh .three h1 {
    font-family: 'Bai Jamjuree';
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
    line-height: 30px;
    color: #4C545C;
    margin-bottom: 19px;
    margin-left: 135px;
    width: 160px;
    letter-spacing: 0.135px;
}

 .container-flex{
    background: rgba(158, 171, 178, 0.1);
    margin-top: 61px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
    /* opacity: 0.1; */

}

footer img{
    width: 60px;
    margin-top: 43px;
}
footer .one img{
    width: 100px;
    margin-left: 165px;
    margin-right: 135px;
}
footer .social img:hover{
    background-color: #26BBA4;
}
footer ul{

    padding: 0;
    list-style-type: none;
    flex-wrap: wrap;
}
footer .container-flex{
    margin-bottom: 0;
    
}
footer ul a {
    color: #9EABB2;
    text-decoration:none;
}
footer .links li{
    padding: 10px;
    list-style-type: none;
    font-size: 18px;
    font-family:'Bai Jamjuree';
    line-height: 30px;
    letter-spacing: 0.14px;
    margin-top: 43px;
}
 footer .links li :hover{
   color: rgba(38, 187, 164, 1);
    
}
li a{
    text-decoration: none;
    color: #4C545C;
}
footer .social{
    margin-top: 18px;
    
} 
footer .social img{
    width: 24px;

}

footer .social img:not(:first-child){
    padding-left: 24px;
}




@media only screen and (min-width:320px) and (max-width:480px){

    .container{
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    /* background-color: #6174FF; */
    width: 375px;
}
.image1{
    display: none;
    width: 375px;
}
.image2{
position: absolute;
left: 100px;
overflow: hidden;

}
.image3{   
    display: block;
    position: absolute;
    overflow: hidden;
}
.glory{
    padding-top:300px ;
    width: 312px;
}
 .glory h1{
margin-left: -10px;
margin-right: 30px ;
 width: 394px; 
} 
.glory p{
    line-height: 26px;
    width: 370px;
    padding-left: 20px;
}
.buttons{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.buttons .one{
    margin-bottom: 20px;
    width: 311px;
}
.buttons .two{
    width: 311px;
    margin-left: 0;
}
p.seed{
    margin: 0;
    padding-left: 20px;
}
.middle h1{
    width: 389px;
}
.middle p{
 
    line-height: 26px;
    width: 370px;
    padding-left: 20px;
}
}

.third{
    display: flex;
    flex-direction: column;
    margin-top: -70px;
}
.third .image{
    width: 312px;
    margin-top: -70px;
    margin-left: 50px;
}
.third .image img{
    width: 312px;
    /* margin-top: -100px; */
}
.fourth{
    margin-left: 1px;
}
.fourth p{
    width: 317px;
    
}
.down{
    margin-top: -70px;
    padding-left: 30px;
}
.fifth{
   margin: 0;
}
.fifth h1{
    width: 310px;
   margin: 0;
   padding-bottom: 20px ;
}

.fifth p{
    width: 342px;
    line-height: 26px;
}
.sixth img{
    width: 311px;
    margin: 0;
}
.seventh{
    margin: 0;
}
.seventh h1{
    width: 310px;
}
.seventh p{
    width: 275px;
}
.eigth{
    display: flex;
    flex-direction: column;
   margin: 0;
}
.eigth .first{
    margin-bottom: 109px;
}
/* .eigth .first img{
   
} */
/* .eigth .first h1{
    
} */
.eigth .first p{
    width: 311px;
    line-height: 26px;
}
.ninth{
    display: flex;
    flex-direction: column;
   padding-left: 40px;
}
.ninth .image4{
    margin-bottom: 80px;
}
.tenth h1{
    width: 310px;
    line-height: 100%;
}
.tenth{
    margin: 0;
}
.tenth p{
    width: 351px;
}
.buttons .finish{
   margin: 0;
    display: flex;
    flex-direction: column;
    

}
.footer{
    width: 375px;
}
footer .container-flex {
    margin-left: -30px;
    display: flex;
    flex-direction: column;
    width: 390px;

}
.container-flex .one img{
    margin: 0;
    padding-left: 100px;
    padding-top: 50px;
}
.container-flex .links{
padding-left: 100px;
} 

.social{
 padding-left: 100px;  
}
}


@media only screen and (min-width:768px) and (max-width:1024px){
    
    .container{
        display: flex;
        flex-direction: column;
        overflow-y: hidden;
        /* background-color: #6174FF; */
        width: 875px;
    }
    .image1{
        display: none;
        width: 975px;

    }
    .image2{
    position: absolute;
    left: 404px;
    overflow: hidden;
    
    }
    .icon{
        padding-bottom: 400px;
        text-align: center;
        padding-left: -1100px;
    }
    .image3{   
        display: block;
        position: absolute;
        overflow: hidden;
        width: 900px;
        height: 500px;
    }
    .glory{
        padding-top: 40px;
        padding-left: 100px;
    }
    .glory h1{
        width: 383px;
        padding-left: 200px;
    }
    .glory p{
        width: 375px;
        padding-left: 200px;
        line-height: 26px;
        padding-bottom: 50px;
    }
    .buttons{
        display: flex;
        flex-direction: column;
        margin-left: 270px;
    }
    .buttons .one{
        margin-bottom: 30px;
        width: 311px;
    
    }
    .buttons .two{
        margin-left: 1px;
        width: 311px;
    }
    .gone{
        margin-left: -73px;
    }
    .middle h1{
        width: 383px;
        padding-left: 284px;
    }
    .middle p{
        width: 339px;
        margin-left: 300px;
        padding-top: 10px;
    }
    .third{
        display: flex;
        flex-direction: column;
    }
    .third img{
        width: 500px;
        padding-left: 200px;
        margin-top: -80px;
        padding-bottom: 80px;
    }
    .one h1{
        padding-left: 150px;
    }
    .one p{
        margin-left: 200px;
        width: 300px;
    }
    .two h1{
        padding-left: 150px;
    }
    .two p{
        margin-left: 200px;
        width: 300px;
    }
    .three h1{
        padding-left: 150px;
    }
    .three p{
        margin-left: 200px;
        width: 300px;
    }
    .down{
        margin-top: -300px;
        margin-left: -200px;
    }
    .fifth h1{
        width: 300px;
        padding-left: 180px;
    }
    .fifth p{
        width: 350px;
        padding-left: 150px;
    }
    .sixth img{
        width: 603px;
    }
    .seventh{
        margin-left: 300px;
    }
    .seventh h1{
        width: 300px;
        padding-left: 200px;
    }
    .seventh p{
        width: 263px;
        padding-left: 230px;
    }
    .eigth{
        display: flex;
        flex-direction: column;
        padding-left: 400px;
    }
    .eigth .first{
        margin-left: -20px;
        padding-top: 50px;
    }
    .eigth .first p{
        width: 315px;
    }
    .ninth{
        display: flex;
        flex-direction: column;
        padding-left: 550px;
        margin-top: -90px;
    }
    .image4{
        padding-bottom: 60px;
        
    }
    .tenth h1{
        width: 300px;
        padding-left: 200px;
    }
    .tenth p{
        width: 351px;
        padding-left: 200px;
    }
    .buttons .finish{
        margin-left: 254px;
    }
    
.footer{
    width: 375px;
}
footer .container-flex {
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 875px;
    padding-left: 300px;

}
.container-flex .one img{
padding-left: 78px;    

}
.container-flex .links{
    padding-left: 255px;
}
footer .social{
    padding-left: 250px;
}
}